<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../static/css/public/header.css">
	<link rel="stylesheet" href="../../static/css/public/footer.css">
</head>
<body>
<header th:replace="~{/public/header :: header}"></header>
<main layout:fragment="main">
</main>
<footer th:replace="~{/public/footer :: footer}"></footer>
</body>
</html>
