@import url("../public/public.css");

table {
    margin: auto;
    text-align: center;
}
input[type="text"] {
    border: 1.5px rgb(68, 136, 244) solid;
    width: 800px;
    height: 60px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 30px;
}
textarea {
    border: 1.5px rgb(68, 136, 244) solid;
    width: 800px;
    height: 400px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none;
    font-size: 30px;
}
.header {
    height: 30px;
    text-align: left;
}
input[type="submit"] {
    margin: 30px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    outline: 1.5px rgb(68, 136, 244) solid;
    border-radius: 5px;
    background-color: rgb(164, 199, 255);
}
input[type="submit"]:active {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: 1.5px rgb(27, 76, 155) solid;
    background-color: rgb(68, 136, 244);}

