<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <title>상품 리뷰 템플릿</title>
</head>
<body>
    <div class="review-score-container">
        <section class="review-score-section">
            <div class="review-total-count-container">
                <span>리뷰 총 </span><span class="review-total-count" th:text="${pageInfo.totalElementCount}">13,712</span><span> 건</span>
            </div>

            <div class="review-total-score-container">
                <span class="review-total-score" th:text="${rateMap.isEmpty() ? 0.0 : #numbers.formatDecimal(rateMap['result']['avg'], 0, 1)}">4.9</span><span>점</span>
            </div>

            <div class="review-star-container">
                <div class="review-stars">
                    <th:block th:each="rate: ${#numbers.sequence(1, 5)}" th:with="rateAverage=${rateMap.isEmpty() ? 0 : rateMap['result']['avg']}">
                        <i th:if="${rate <= rateAverage}" class="fa-solid fa-star"></i>
                        <i th:if="${rate > rateAverage}" class="fa-regular fa-star"></i>
                    </th:block>
                </div>
            </div>
        </section>

        <section class="review-score-bar-section">
            <div class="review-score-bar-container" th:each="rateNumber: ${#numbers.sequence(5, 1)}">
                <span th:text="${rateNumber} + '점'">5점</span>
                <div class="review-score-bar-bg">
                    <div class="review-score-bar" th:style="'width:' + ${rateMap.containsKey(rateNumber.toString()) ? rateMap[rateNumber.toString()]['count'] * 100 / pageInfo.totalElementCount : 0} + '%' "></div>
                </div>
                <span th:text="${rateMap.containsKey(rateNumber.toString()) ? rateMap[rateNumber.toString()]['count'] * 100/ pageInfo.totalElementCount : 0} + '%'">00%</span>
            </div>
        </section>
    </div>

    <div class="review-sort-container">
        <ul>
            <li><a onclick="load_review(event, this.href)" th:href="@{'/book/' + ${bookNo} + '/review'(page=1,sort='recent')}" active>최신순</a></li>
            <li><a onclick="load_review(event, this.href)" th:href="@{'/book/' + ${bookNo} + '/review'(page=1,sort='high-rate')}">평점 높은 순</a></li>
            <li><a onclick="load_review(event, this.href)" th:href="@{'/book/' + ${bookNo} + '/review'(page=1,sort='low-rate')}">평점 낮은 순</a></li>
        </ul>
    </div>

    <div class="review-container">
        <div class="review" th:each="review: ${pageInfo.elements}">
            <section class="review-user-section">
                <div>
                    <div class="review-user-image" style="background-image: url('https://spy-family.net/tvseries/assets/img/top/chara_thumb2.png')"></div>
                    <span class="review-user-name" th:text="${review.userId}">ANYA FORGER</span>
                </div>
                <div>
                    <div class="review-user-stars">
                        <th:block th:each="rate: ${#numbers.sequence(1, 5)}">
                            <i th:if="${rate <= review.rate}" class="fa-solid fa-star"></i>
                            <i th:if="${rate > review.rate}" class="fa-regular fa-star"></i>
                        </th:block>
                    </div>
                </div>
            </section>
            <section class="review-section">
                <span class="review-option">[옵션] [펜슬기획]03코렉트업베이지</span>
                <span class="review-content" th:text="${review.text}">
                                평소 팩트는 22호 파운데이션은 21호 ~22호 사이를 섞어서 사용 합니다
                                웜톤인데 코렉트 업베이지가 저랑은 색이 좀더 잘 맞네요
                                코렉트 업베이지는 노란끼가 좀더 있는 거 같고
                                코렉트 베이지는 붉은끼가 살짝 있는 듯 합니다
                                얼굴에 커피반점이 생겨서 가리는 용으로 샀는데 코렉트업베지라 밝아서 가려질까 했는데 예상외로 자연스럽게 잘가려 줘요
                            </span>
            </section>
            <section class="review-recommend-section">
                <div>
                    <i class="fa-solid fa-thumbs-up"></i>
                    <span th:text="${review.like}">112</span>
                </div>
            </section>
        </div>
    </div>

    <ol th:if="${pageInfo.page <= pageInfo.totalPageCount}">
        <li th:if="${pageInfo.startPage != 1}">
            <a onclick="load_review(event, this.href)" th:href="@{'/book/' + ${bookNo} + '/review'(page=${pageInfo.endPage - 1},sort=${pageInfo.sort})}">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>
        <li th:if="${pageInfo.startPage <= pageInfo.endPage}" th:each="pageNumber: ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
            <a onclick="load_review(event, this.href)"
               th:href="@{'/book/' + ${bookNo} + '/review'(page=${pageNumber},sort=${pageInfo.sort})}"
               th:text="${pageNumber}"
               th:active="${pageInfo.page == pageNumber}">1</a>
        </li>
        <li th:if="${pageInfo.endPage != pageInfo.totalPageCount}">
            <a onclick="load_review(event, this.href)" th:href="@{'/book/' + ${bookNo} + '/review'(page=${pageInfo.endPage + 1},sort=${pageInfo.sort})}">
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
    </ol>
</body>
</html>