@import "../public/public.css";

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 30px 100px;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Bold;
    margin: 40px 0 50px 0;
}
h2{
    margin: 10px 0;
}
/********************************/
form{
    border: none;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 60px 80px;
    width: 800px;
    background-color: white;
}
form > section{
    margin-bottom: 40px;
}
form > section > div{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
form > section > div > i{
    font-size: var(--font-size-large);
    margin-right: 10px;
    flex-basis: 35px;
    text-align: center;
}
form input{
    font-size: var(--font-size-small);
    width: 100%;
    padding: 5px 10px;
    background-color: white;
    outline: none;
}
/***********************************/

.input-label {
    display: flex;
    align-items: center;
    flex: 1;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
}

.input-label i {
    font-size: var(--font-size-large);
    margin-right: 10px;
    flex-basis: 35px;
    text-align: center;
}

.input-label input {
    font-size: var(--font-size-small);
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
}
/********************************/
.id-input-container button{
    font-family: Medium;
    font-size: var(--font-size-small);
    margin-left: 10px;
    padding: 0 10px;
    align-self: stretch;
    background-color: var(--Summer-spring-decoration-design-elements-2-rgba);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
/********************************/
.pw-input-container label{
    flex: 1;
}
.pw-re-input-container label{
    flex: 1;
}
/********************************/
.tel-input-container > label:not(.tel-head-label){
    flex: 1;
}
.tel-input-container > .tel-head-label{
    align-self: stretch;
}
.tel-input-container > .tel-head-label select{
    padding: 0 20px;
    height: 100%;
    font-size: var(--font-size-x-small);
}
.tel-input-container > span{
    margin: 0 10px;
    font-size: var(--font-size-small);
}
.tel-input-container > button{
    align-self: stretch;
    padding: 0 10px;
    margin-left: 10px;
    font-family: Medium;
    font-size: var(--font-size-small);
    background-color: var(--Summer-spring-decoration-design-elements-2-rgba);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
/********************************/
.email-input-container > label:not(.email-tail-label){
    flex: 1;
}
.email-input-container > .email-middle-label{
    align-self: stretch;
}
.email-input-container > .email-middle-label input{
    padding: 10px 20px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
}
.email-input-container > .email-tail-label{
    align-self: stretch;
    margin: 0 10px;
    border: none;
}
.email-input-container > .email-tail-label select{
    padding: 0 20px;
    height: 100%;
    font-size: var(--font-size-small);
    border-radius: 5px;
    border: 1px solid black;
}
.email-input-container > span{
    margin: 0 10px;
    font-size: var(--font-size-small);
}
.email-input-container .bi-at{
    margin: 0 2px;
    text-align: center;
}
.email-input-container > button{
    align-self: stretch;
    padding: 0 10px;
    font-family: Medium;
    font-size: var(--font-size-small);
    background-color: var(--Summer-spring-decoration-design-elements-2-rgba);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
/********************************/
.email-auth-input-container > label{
    flex: 1;
}
.email-auth-input-container input{
    text-align: center;
}
.email-auth-input-container > button{
    align-self: stretch;
    padding: 0 40px;
    font-family: Regular;
    margin-left: 10px;
    font-size: var(--font-size-small);
    background-color: var(--Dark-gray-textured-background---5-rgba);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}
/********************************/
.nickname-input-container > label{
    flex: 1;
}
/********************************/
.join-btn-section{
    margin: 70px 0 20px 0;
    text-align: center;
}
.join-btn-section > button{
    margin: 0 10px;
    padding: 12px 0;
    width: 150px;
    font-size: var(--font-size-small);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition-duration: 0.2s;
}
.join-btn-section > button[type=submit]{
    background-color: var(--Summer-spring-decoration-design-elements-2-rgba);
    &:hover {
        opacity: 0.8;
    }
}
.join-btn-section > button[type=button] {
    &:hover {
        opacity: 0.8;
    }
}
/********************************/
.error-container{
    display: none;
    margin: 2px 0 4px 0;
    padding: 0 55px;
    color: var(--Pasteles-5-rgba);
}
.error-container[active]{
    display: block;
}